.Knowledge{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  li{
    box-sizing: border-box;
    padding-top: 20px;
    list-style: none;
    width: 20%;
    height: 245px;
    .name{
      color: #fff;
      font-size: 18px;
    }
    img{
      margin-top: 10px;
      width: 300px;
    }
  }
}
